<script type="text/template" id="active-list-name">
  <div class="left-container">
    <span class="create-list-btn"><i class="fa fa-plus-circle"></i></span>
  </div>
  <div class="input-container">
    <input type="text" class="active-input list-input" name="list" placeholder="New list" value="<%= name %>">
  </div>
</script>