<script type="text/template" id="list-active-item">
  <div class="left-container">
    <p><i class="fa fa-sort-up"></i></p>
    <p><i class="fa fa-sort-down"></i></p>
  </div>
  <div class="right-container">
    <div class="timestamp">
      <p class="thin-sm"><%= timestamp %></p>
      <p class="thin-sm"> <%= position %></p>
    </div>
    <% var done = this.model.get('done') ? 'done' : '' %>
    <div class="note <%= done %>">
      <p class="note-text"><%= body %></p>
    </div>
    <div class="edit">
      <i class="fa fa-trash"></i>
      <i class="fa fa-check"></i>
    </div>

  </div>
</script>