<script type="text/template" id="garbage-watcher-template">
    <div class="stat">
      <span class="thin-sm badge"><%= length %> Done</span>
    </div>
    <div class="edit">
      <span class="remove-done-btn"><i class="fa fa-trash-o"></i></span>
    </div>
</script>

<script type="text/template" id="sunny-template">
  <div class="stat"></div>
  <div class="edit">
    <i class="fa fa-certificate animated fadeIn"></i>
  </div>
</script>