<script type="text/template" id="input-template">
  <form class="active-form">

    <div class="list-item form-list">
      <div class="input-container">
        <input type="text" class="active-input list-input" name="list" placeholder="List">
      </div>

      <div class="garbage-container">
        <span class="remove-done-btn">
          <i class="fa fa-trash-o"></i>
          <p class="caption">Done</p>
        </span>
      </div>
    </div>

    <div class="list-item form-note">
      <div class="input-container">
        <input type="text" class="active-input note-input" name="body" placeholder="New note...">
      </div>

      <div class="validation-container">
        <span class="create-note-btn"><i class="fa fa-check-circle"></i></span>
      </div>
    </div>

  </form>
</script>