<script type="text/template" id="active-input">
  <form>
    <input type="text" class="new-list-input form-control" name="list" value="<%= name %>">    
    <input type="text" class="new-note-input" name="body" placeholder="Note">
    <button class="new-note-btn"><i class="fa fa-plus"></i></button>
  </form>
</script>