<script type="text/template" id="input-template">
  <form class="active-form">
    <div class="input-container">
      <input type="text" class="activeInput list-input" name="list" placeholder="List">
      <div class="validation-container">
        <span class="kurt-loader">
          <p class="message"></p>
        </span>
        <span class="create-note-btn">
          <i class="fa fa-check-circle"></i>
        </span>
      </div>
    </div>
    <div class="input-container">
      <textarea type="text" class="activeInput note-input" name="body" placeholder="New note..."></textarea>
    </div>
  </form>
  <select class="icon-select">

  </select>
  <div class="active-progress"></div>
</script>