<script type="text/template" id="list-name-template">
  <div class="inner-container" data-id="<%= _id %>">
    <p class="list-text">
    <span class="badge"><%= notes.length %></span>
    <span class="list-name"><%= name %></p></span>
    </p>
  </div>
</script>