<script type="text/template" id="list-active-item">
  <div class="list-item">
    <p class="list-text">
      <span class="edit"><%= body %></span>
        <i class="fa fa-check"></i>
    </p>
  </div>
</script>