<script type="text/template" id="list-name-template">
  <div class="inner-container" data-id="<%= _id %>">
    <div class="name-container">
      <p class="list-text"><%= name %></p>
    </div>
    <div class="length-container">
      <p class="list-text badge"><%= notes.length %></p>
    </div>
    <div class="progress-bar-container">
      <div class="not-done" data-notDone="<%= _id %>"></div>
      <div class="done" data-done="<%= _id %>"></div>
    </div>
  </div>
</script>