<script type="text/template" id="list-name-template">
  <div class="list-item" data-id="<%= name %>">
    <p class="list-text"><span class="badge"><%= length %></span> <%= name %></p>
  </div>
</script>