<script type="text/template" id="list-name-template">
  <div class="inner-container" data-id="<%= _id %>">
    <div class="name-container">
      <p class="list-text"><%= name %></p>
    </div>
    <div class="length-container">
      <p class="list-text badge"><%= notes.length %></p>
    </div>
  </div>
</script>