<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <h1 class="app-header"><a href="#">Ramen Buffet</a></h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <h3>Logged in as {{user.name}}</h3>
    </div>
  </div>
</div>