<div class="wrapper app-navbar">
  <div class="nav-wrapper">
    <ul class="nav-left">
      <li><p class="app-header"><a href="#">Ramen Buffet</a></p></li>
    </ul>
    <ul class="nav-right">
      <li><p class="nav-text"><a class="nav-av" href="#"
        data-container=".nav-av"
        data-toggle="popover"
        data-html="true"
        data-placement="bottom"
        data-content="<p class='nav-text thin-sm'><a href='/logout'>Sign Out</a></p>">
        <img class="nav-avatar" src="https://graph.facebook.com/{{ user.fbId }}/picture"> {{user.name}}</a></p></li>
      <li><p class="nav-text"><a href="/logout"><i class="fa fa-sign-out"></i></a></p></li>
    </ul>
  </div>
</div>