<script type="text/template" id="note-item-template">
  <a data-note="<%= _id %>">
    <div class="timestamp">
      <p class="thin-sm"><%= timestamp %></p>
    </div>
    <div class="body <%= done %>">
      <input class="note-text" value="<%= body %>">
    </div>
    <div class="edit">
      <i class="fa fa-trash"></i>
      <i class="fa fa-check-square"></i>
    </div>
  </a>
</script>