<script type="text/template" id="note-item-template">
  <div class="body <%= done %>">
    <textarea class="note-text"><%= body %></textarea>
  </div>
  <div class="control-container">
    <div class="timestamp">
      <p class="thin-sm"><%= timestamp %></p>
    </div>
    <div class="edit">
      <i class="fa fa-trash"></i>
      <i class="fa fa-check-square"></i>
    </div>
  </div>
</script>