<script type="text/template" id="icon-select-template">
  <div class="icon-option" data-icon="fa <%= icon %>">
    <i class="animated fadeIn fa <%= icon %>"></i>
    <p class="caption"><%= name %></p>
  </div>
</script>

<script type="text/template" id="icon-template">
  <span class="animated zoomIn list-icon"><i class="<%= icon %>"></i></span>
</script>

<script type="text/template" id="icon-placeholder-template">
  <span class="icon-placeholder"><i class="fa fa-minus-square"></i></span>
</script>

<script type="text/template" id="icon-list-item-template">
  <i class="animated zoomIn <%= icon %>"></i>
</script>