<script type="text/template" id="icon-select-template">
  <div data-icon="fa <%= icon %>">
    <i class="fa <%= icon %>"></i>
  </div>
</script>

<script type="text/template" id="icon-template">
  <i class="<%= icon %>"></i>
</script>