<script type="text/template" id="icon-select-template">
  <div data-icon="fa <%= icon %>">
    <i class="fa <%= icon %>"></i>
  </div>
</script>

<script type="text/template" id="icon-template">
  <i class="<%= icon %>"></i>
</script>

<script type="text/template" id="icon-placeholder-template">
  <span class="icon-placeholder"><i class="fa fa-minus-square"></i></span>
</script>