<form class="login-form">
  <input type="text" class="log-un" name="username" placeholder="Username">
  <input type="password" class="log-pw-1" name="password" placeholder="Password">
  <input type="password" class="log-pw-2" name="confirm-password" placeholder="Confirm password">
  <div class="log-notify">
    <span class="log-icon ready"><i class="fa fa-check"></i></span>
    <span class="log-icon error"><i class="fa fa-times"></i></span>
    <p class="log-message"></p>
  </div>
</form>