<div class="wrapper app-navbar">
  <div class="inner">
    <ul class="nav-left">
      <li><p class="app-header"><a>Ramen Buffet</a></p></li>
    </ul>
    <ul class="nav-right">
      <li><img class="nav-avatar" src="https://graph.facebook.com/{{ user.fbId }}/picture"></li>
      <li>
        <ul class="user-dd-list">
          {{#if user.username}}
            <li class="user-dd-item"><p class="dd-text">@{{user.username}}</p></li>
          {{else}}
            <li class="user-dd-item"><p class="dd-text">{{user.name}}</p></li>
          {{/if}}
            <li class="user-dd-item"><p class="dd-text">Settings</p></li>
            <li class="user-dd-item"><p class="dd-text"><a href="/logout">Logout</a></p></li>
        </ul>
      </li>
    </ul>
  </div>
</div>