<script type="text/template" id="progress-bar-template">
  <div class="progress-bar-container" id="list-progress">
    <div class="not-done" data-notDone="<%= _id %>">
      <p class="not-done-text"><%= notDoneText %></p>
    </div>
    <div class="done" data-done="<%= _id %>">
      <p class="done-text"><%= doneText %></p>
    </div>
  </div>
</script>