<script type="text/template" id="progress-bar-template">
  <div class="progress-bar-container" id="list-progress">
    <div class="not-done" data-notDone="<%= _id %>"></div>
    <div class="done" data-done="<%= _id %>"></div>
  </div>
</script>