<script type="text/template" id="user-registration-template">
  <div class="container user-registration">
    <div class="inner">

      <div class="header-container">
        <h3 class="header-text animated fadeInUp"><%= greeting %>, <%= name %></h3>
        <p class="meta">Register to keep all your social accounts in one place</p>
      </div>
      <div class="form-container">
        <form class="register-form">
          <input type="text" class="reg-un" name="username" placeholder="Username">
          <input type="password" class="reg-pw-1" name="password" placeholder="Password">
          <input type="password" class="reg-pw-2" name="confirm-password" placeholder="Retype password">
          <div class="reg-notify">
            <span class="ready"><i class="fa fa-check"></i></span>
            <span class="error"><i class="fa fa-times"></i></span>
          </div>
        </form>
      </div>
      <div class="btn-container">
        <p class="caption"><a>Skip</a></p>
        <i class="fa fa-arrow-right"></i>
      </div>
    </div>
  </div>
</script>