<script type="text/template" id="user-registration-template">
  <div class="container user-registration">
    <div class="inner">

      <div class="header-container">
        <h3 class="header-text">Welcome, <%= firstName %>!</h3>
        <p class="meta">Register a username and password to keep all your social accounts in one place</p>
        <p class="caption">Skip</p>
      </div>
      <form class="register-form">
        <input type="text" name="username">
        <input type="text" name="password">
        <input type="text" name="confirm-password">
      </form>
    </div>
  </div>
</script>