<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RAMEN BUFFET</title>
  <link rel="icon" type="image/png" href="assets/egg.png">
  <link rel="stylesheet" href="assets/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap-theme.min.css">
  <link rel="stylesheet" href="assets/font-awesome.css">
  <link rel="stylesheet" href="assets/style.css">
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600' type='text/css'>
</head>
<body>


<nav class="navbar navbar-default">
  
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="fa fa-bars fa-2x"></span>
          </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a id="dropdown" href="#"><i id="hamburger" class="fa fa-bars fa-4x"></i></a></li>
          </ul>
      </div>
  </div><!--end container -->
 
</nav>

  <div class="container">
    <section id="todoapp">
      <header id="header">
        <h1>RAMENBUFFET</h1>
        <input id="new-todo" placeholder="Write whatever, I don't care." autofocus>
      </header>
      <section id="main">
        <input id="toggle-all" type="checkbox">
        <label for="toggle-all">MARK PENDING</label>
        <ul id="todo-list"></ul>
      </section>
      <footer id="footer">
        
        <!-- STATS TEMPLATE -->

      </footer>
    </section>
    <div id="info">
      <p>Double-click to edit</p>
      <p>Built by <a href="https://github.com/evturn">Evan Turner based on TodoMVC</a></p>
      <p>Part of <a href="http://evturn.com">evturn.com</a></p>
    </div>
  </div>

  <!-- UNDERSCORE TEMPLATES -->
   <script type="text/template" id="stats-template">
    <span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'task' : 'tasks' %> left</span>
    <ul id="filters">
      <li>
        <a class="selected" href="#/">All</a>
      </li>
      <li>
        <a href="#/active">Active</a>
      </li>
      <li>
        <a href="#/pending">Pending</a>
      </li>
    </ul>
    <% if (pending) { %>
    <button id="clear-completed"><i class="fa fa-trash fa-2x"></i> Pending (<%= pending %>)</button>
    <% } %>
  </script>

  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= pending ? 'checked' : '' %>>
      <label><p><%= title %></p>
      <a class="timestamp" href="#">
      <span data-livestamp="<%= moment(timestamp).unix() %>"></span>
      </a></label>
      <button class="destroy"></button>
    </div>
    <input class="edit" value="<%= title %>">
  </script>

  <script src="js/lib/jquery.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/lib/moment.js"></script>
  <script src="js/lib/livestamp.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/models/task.js"></script>
  <script src="js/collections/workload.js"></script>
  <script src="js/views/task-view.js"></script>
  <script src="js/views/app-view.js"></script>
  <script src="js/routers/router.js"></script>
  <script src="js/main.js"></script>
</body>
</html>