<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>RAMEN BUFFET</title>
  <link rel="icon" type="image/png" href="assets/egg.png">
  <link rel="stylesheet" href="assets/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap-theme.min.css">
  <link rel="stylesheet" href="assets/font-awesome.css">
  <link rel="stylesheet" href="assets/style.css">
</head>

<body>

  <div id="ramen-buffet">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars fa-2x"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="filters" class="nav navbar-nav text-center">
            <li><a href="#" data-toggle="modal" data-target="#loginModal"><i class="fa fa-diamond fa-2x"></i></a></li>
            <li><a class="selected" href="#/">ALL</a></li>
            <li><a class="pending" href="#/pending">&#10144; IN PROGESS</a></li>
            <li><a href="#/active">&#10145; UNINITIATED</a></li>
          </ul>
        </div>
      </div>
      <!--end container -->
    </nav>
    <!-- end nav -->

    <div class="container">
      <section id="todoapp" class="row">
        <header>
          <div id="header" class="col-xs-12 col-sm-12 text-center">

            <!-- TITLE AND NUMBER REMAINING -->

          </div>
          <input id="new-todo" placeholder="Write whatever, I don't care." autofocus>
        </header>

        <section id="main">
          <input id="toggle-all" type="checkbox">
          <label for="toggle-all">MARK PENDING</label>
          <ul id="todo-list">

            <!-- ALL TASKS -->

          </ul>
        </section>
        <!-- end main -->

        <footer id="footer">

          <!-- TRASH -->

        </footer>
      </section>
      <!-- end todoapp -->
    </div>
    <!--end container -->

    <div class="container">
      <div class="row">
        <div id="info" class="col-xs-12 col-sm-12 text center">
          <h5><a href="http://evturn.com">evturn.com</a></h5>
        </div>
      </div>
    </div>
    <!--end container -->

  </div>
  <!-- end ramen-buffet -->

  <div class="modal fade text-center" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="col-xs-12 col-sm-9 col-sm-offset-1 modal-content">
        <div class="modal-header">
          <a type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-2x"></i></a>
          <h3 class="modal-title" id="myModalLabel">Login</h3>
        </div>
          <div class="modal-body">
            <form class="form-signin" role="form">  
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" data-tabindex="1" />
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" data-tabindex="2" />
              </div>
              <div class="form-group">
                <button type="button" id="login-btn" class="btn btn-primary">LOGIN</button>
              </div>
            </form>
          </div><!-- end body -->
          <div class="modal-footer text-center">
            <p><a href="http://evturn.com"><img id="evturn-security" src="http://ramenbuffet.com/assets/ev.png"> Powered by evturn.com</a></p>
          </div>
      </div> <!-- end footer -->
    </div><!-- end modal -->
               
  <!-- UNDERSCORE TEMPLATES -->
  <script type="text/template" id="header-template">
    <h1 id="the-title">RAMENBUFFET
      <span id="todo-count" class="label label-default">
        <%=remaining%>
      </span>
      </a>
    </h1>
  </script>

  <script type="text/template" id="pending-template">
    <% if (pending) { %>
      <button id="clear-completed">
        <span id="trash" class="label label-default"><h3><%=pending%></h3></span> <i class="fa fa-trash-o fa-2x"></i></button>
      <% } %>
  </script>

  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%=pending ? 'checked' : '' %>>
      <label>
        <p>
          <%=title%>
        </p>
        <a class="timestamp" href="#">
      <span data-livestamp="<%= moment(timestamp).unix() %>"></span>
      </a></label>
      <button class="destroy"></button>
    </div>
    <input class="edit" value="<%=title%>">
  </script>

  <script src="js/lib/jquery.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/lib/moment.js"></script>
  <script src="js/lib/livestamp.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/models/task.js"></script>
  <script src="js/collections/workload.js"></script>
  <script src="js/views/task-view.js"></script>
  <script src="js/views/app-view.js"></script>
  <script src="js/routers/router.js"></script>
  <script src="js/main.js"></script>
</body>

</html>