<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ramen Buffet</title>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/less.css">
</head>
<body>
  {{> _navbar }}

  {{{ body }}}
  
  {{> _templates }}
  <script src="js/lib/jquery.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/models/note.js"></script>
  <script src="js/views/list-active.js"></script>
  <script src="js/views/list-lists.js"></script>
  <script src="js/views/wrapper.js"></script>
  <script src="js/main.js"></script>
</body>
</html>