<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ramen Buffet</title>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/less.css">
</head>
<body class="landing-wrapper">
  
    {{{ body }}}
  <script src="js/vendor.js"></script>
    {{> colors }}
</body>
</html>