<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ramen Buffet</title>
  <link rel="stylesheet" href="dist/css/vendor.css">
  <link rel="stylesheet" href="dist/css/less.css">
</head>
<body>

  {{{ body }}}

  <script src="dist/js/bundle.js"></script>
</body>
</html>