.active-list-wrapper {
  border-top: 5px solid @primarylight;
  .active-form .list-item {

    @media (min-width: @sm) {
      min-height: 50px;
    }

  }

  .left-container {
    display: inline-block;
    width: 45px;
    height: 45px;
    padding: 10px;
    text-align: left;
    .transition(all 0.2s ease);
    &:hover {
      color: @primarydark;
    }
    .create-list-btn .fa {
      cursor: pointer;
      font-size: 2em;
      margin-right: auto;
      margin-left: auto;

    }
  }

  .active-form .list-item.form-list-note,
  .active-form .list-item.form-list-name {
    padding: 0;
    .input-container {
      display: inline-block;
      width: 50%;
      padding: 10px 0 10px;
      @media (min-width: @sm) {
        width: 85%;
        padding: 15px 0 10px;
      }
      .active-input.list-input {
        width: 100%;
      }
    }
  }

  .active-input.list-input,
  .active-input.note-input {
    height: 25px;
    font-size: 18px;
  }
}
