.active-notes-wrapper {
  background-color: @white;
  display: inline-block;
}
  .active-notes-container {

    .list-item {
      padding: 0;
      padding-bottom: 15px;
      padding-top: 5px;
      overflow: auto;
      overflow-y: hidden;
      position: relative;
      border-bottom: 1px solid @grey;
      .transition(all 0.6s ease);

      .left-container {
        float: left;
        display: inline-block;
        width: 15%;
        height: 100%;
        padding-left: 10px;
        text-align: left;
        p {
          cursor: pointer;
          font-size: 2em;
          height: 25px;
          margin-right: auto;
          margin-left: auto;
          margin-bottom: 0;
          color: @grey;
          .transition(0.3s);
          &:hover {
            color: @primarylight;
          }
        }
      }


      .right-container {
        float: right;
        width: 85%;

        .timestamp {
          width: 70%;
          display: inline-block;
          color: @grey;
          margin-bottom: -10px;
          margin-top: 5px;
        }

        .note {
          width: 70%;
          display: inline-block;
          .note-text {
            font-size: 14px;
          }
        }

        .edit {
          display: inline-block;
          overflow: auto;
          height: 100%;
          position: absolute;
          top: 0px;
          padding-top: 20px;
          right: 10px;
          margin-left: 5px;
          .fa {
            color: @lightgrey;
            font-size: 2em;
            cursor: pointer;
            margin-right: 10px;
            .transition(all 0.3s ease);
            &:hover {
              color: @primarylight;
            }
          }
        }
      }
    }
  }


.done {
  .transition(all 0.3s ease);
  color: @lightgrey;
}