.lists {

  .no-scrollbar;
  vertical-align: top;
  border-radius: 2px;
}

.notes {
  border-radius: 2px;
  float: right;
}


.lists,
.notes {
  border-top: 5px solid @primarylight;
  margin-bottom: 15px;
  .border-top-radius(4px);
}