.inputs-container {
  background-color: @white;

  .list-text {
    font-size: 18px;
    margin-bottom: 0;
  }
}

.input-container {
  padding-left: 10px;
  font-family: @sans;
  position: relative;
  border-bottom: 1px solid @lightgrey;
}

.note-input,
.list-input {
  .placeholder(@grey);
  width: 95%;
  border: 0;
  color: @black;
  margin: 5px 0 5px;

  &:focus {
    outline: none;
  }
}

.note-input {
  font-size: 16px;
}

.list-input {
  font-size: 20px;
}

.validation-container {
  position: absolute;
  right: 10px;
  top: 10px;

  .kurt-loader {
    .animation-delay(0.9s);
  }

  .fa {
    font-size: 1em;
    color: @lightgrey;
    .transition(all 0.2s ease);

    &.ready {
      font-size: 1.1em;
      color: @primarylight;
    }
  }
}