.active-list-container {
  width: 100%;
  margin-top: 20px;
  @media (min-width: @screen-sm) {
    margin-top: auto;
    float: right;
    margin-right: 2%;
    margin-left: 2%;
    width: 65%;
  }
  .box-shadow(0px 0px 8px -4px rgba(0,0,0,0.75););
  .list-text {
    font-size: 18px;
    margin-bottom: 0;
  }
  .kurt-loader {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background: @primarylight;
    color: @whitesmoke;
    .transition(all 0.3s ease);
  }
}

.active-notes {
  .list-item {
    height: 100%;
    min-height: 45px;
    padding: 20px 15px 5px;
    .transition(all 0.6s ease);
  }
  .input-container {
    width: 60%;
    @media (min-width: @screen-lg) {
      width: 70%;
    }
    float: left;
    display: inline-block;
    .transition(all 0.3s ease);
  }
  .timestamp-container {
    text-align: left;
    color: @grey;
    width: 20%;
    display: inline-block;
  }
  .btn-container {
    width: 20%;
    @media (min-width: @screen-lg) {
      width: 10%;
    }
    float: right;
    padding-right: 10px;
    text-align: center;
    .fa {
      color: @lightgrey;
      font-size: 1.5em;
      width: 25px;
      height: 25px;
      cursor: pointer;
      .transition(all 0.2s ease);
      &:hover {
        font-size: 1.6em;
        width: 23px;
        color: @primarylight;
      }
    }
  }
}

.active-form {
  .list-item {
    height: 100%;
  }
}
.active-input {
  width: 100%;
  border: 0;
  &:focus {
    outline: none;
  }
  &.list-input {
    .placeholder(@grey);
    height: 40px;
    font-size: 28px;
    color: @black;
  }
  &.note-input {
    height: 40px;
    font-size: 24px;
    .placeholder(@grey);
    color: @black;
  }
}

.active-form .list-item {
  min-height: 70px;
  border-bottom: 1px solid @grey;
  position: relative;
  .input-container {
    float: left;
    width: 80%;
  }
  .btn-container {
    float: right;
    width: 20%;
    text-align: center;
    .fa {
      font-size: 3em;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      position: absolute;
      margin-top: -20px;
      z-index: 1;
      color: @white;
      background-color: @grey;
      padding-top: 20px;
      padding-left: 2px;
      right: 20px;
      .transition(all 0.2s ease);
      &.ready {
        font-size: 3.3em;
        color: @whitesmoke;
        background-color: @primarylight;
        height: 90px;
        width: 90px;
        padding-top: 25px;
        margin-top: -25px;
        right: 15px;
      }
    }
  }
  
}


.done {
  .transition(all 0.3s ease);
  color: @lightgrey;
}