.lists-wrapper,
.active-list-wrapper {
  background-color: @white;
  vertical-align: top;
  border-radius: 2px;
  display: inline-block;
}

.header-text {
  font-size: 28px;
  text-align: left;
  text-transform: uppercase;
}

.fa-pencil {
  display: none;
}
.edit:hover .fa-pencil {
  display: inline-block;
  font-size: 0.5em;
  color: @darkgrey;
  &:hover {
    cursor: pointer;
  }
}

.list-item {
  min-height: 40px;
  color: @primarylight;
  text-align: left;
  padding: 15px 15px 10px 15px;
  border-bottom: 1px solid @grey;
  .list-text {
    text-align: left;
  }
}