.lists,
.notes,
.lists.expanded,
.lists.collapsed,
.notes.expanded,
.notes.collapsed {

}

.lists.expanded {
  margin-left: inherit;

  .lists-text {
    margin-bottom: 0;
    text-align: right;
    font-size: 11px;
    display: inline-block;

    @media (min-width: @sm) {
      font-size: 16px;
    }

    &.badge {
      font-size: 16px;
      text-align: center;
    }
  }
}

.lists.collapsed {
  display: inline-block;

  @media (min-width: @sm) {
    margin-left: inherit;

    .lists-container {
      display: none;
    }
  }

  .name-container {
    display: none;
  }
}

.notes.expanded {
  margin-right: inherit;
}

.notes.collapsed {
  display: inline-block;

  @media (min-width: @sm) {
    margin-right: inherit;
  }
}