.lists-wrapper,
.active-list-wrapper,
.active-notes-wrapper {
  background-color: @white;
  vertical-align: top;
  border-radius: 2px;
  display: inline-block;
  .box-shadow(0px 0px 8px -4px rgba(0,0,0,0.75););
}

.header-text {
  font-size: 28px;
  text-align: left;
  text-transform: uppercase;
}

.list-item {
  min-height: 40px;
  color: @primarylight;
  text-align: left;
  padding: 15px 15px 10px 15px;
  border-bottom: 1px solid @grey;
}


@media (max-width: @screen-sm) {
  .lists-wrapper {
    border-top: 5px solid @primarylight;
    margin-bottom: 15px;
    .header-container .header-text {
      font-size: 18px;
      margin: 0;
      .toggle-list-btn .fa {
        background-color: transparent;
        color: @primarylight;
      }
    }
  }
  .active-list-wrapper {
    border-top: 5px solid @primarylight;
    .active-form .list-item {
      min-height: 50px;
      .input-container {
        width: 70%;
      }
    }
    .active-input.list-input,
    .active-input.note-input {
      height: 20px;
      font-size: 18px;
    }
    .active-form .list-item .btn-container .fa {
      margin-top: -30px;
      right: 10px;
    }
  }
  .active-notes-wrapper {
    .active-notes-container {
      .list-item {
        min-height: 50px;
        padding: 5px 10px 5px;
        .note-text {
          font-size: 14px;
        }
      }
      .input-container {
        width: 70%;
      }
      .timestamp-container {
        text-align: left;
        display: inline-block;
        width: 20%;
        margin-bottom: -10px;
        .thin-sm {
          font-size: 10px;
        }
      }
      .btn-container {
        text-align: right;
        width: 30%;
      }
    }
  }
}
