.lists {
  .no-scrollbar;

  .header-container {
    padding: 5px 10px;
    border-bottom: 2px solid @lightgrey;
    overflow: auto;

    .toggle-list-btn {
      float: right;
      position: inline-block;
    }

    .create-list-btn {
      float: left;
      position: inline-block;
    }

    .toggle-list-btn .fa,
    .create-list-btn .fa {
      .transition(0.3s);
      color: @primarylight;
      font-size: 2em;
      cursor: pointer;

      &:hover {
        color: @primarylighthover;

      }
    }
  }
}


.collapsed {
  .transform-rotate(180deg);
}

.lists-container {
  overflow-x: hidden;
  .animation-duration(0.3s);
}