.active-list-container {
  float: right;
  margin-right: 2%;
  margin-left: 2%;
  width: 65%;
  .list-text {
    font-size: 18px;
    margin-bottom: 0;
  }
  .fa-check {
    float: right;
    cursor: pointer;
  }
  .not-visible {
    display: none;
  }
  .visible {
    display: inline-block;
  }
}

.done {
  color: @grey;
}