.lists-wrapper .list-item {
  cursor: pointer;
  position: relative;

  &:last-child .progress-bar-container {
    margin-bottom: 0;
  }

  &.active .inner-container {
    background-color: @primarylight;
    color: @white;
    opacity: 0.8;

    .list-text {
      color: @white;
    }

    .badge {
      font-weight: 600;
      border-radius: 2px;
      background-color: @white;
      color: @primarylight;
    }
  }

  .inner-container {
    position: relative;
    text-align: right;
    padding-top: 5px;

    &:hover {
      background-color: @primarylight;
      color: @white;
    }
  }

  .name-container {
    display: inline-block;
  }

  .length-container {
    display: inline-block;
    border-radius: 2px;
    background-color: @darkgrey;
    color: @white;
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin: 0 5px;
  }

  .list-text {
    font-size: 16px;
    margin-bottom: 0;
    text-align: right;

    &.badge {
      font-size: 16px;
      text-align: center;
    }

    @media (min-width: @sm) {
      font-size: 20px;
    }
  }

  .progress-bar-container {
    margin-top: 2px;
    width: 100%;
    height: 3px;
    margin-bottom: 3px;

    .not-done {
      background-color: @primarydark;
      display: inline-block;
      width: 60%;
      height: 100%;
      float: left;
    }

    .done {
      background-color: @primarylighthover;
      width: 40%;
      display: inline-block;
      height: 100%;
      float: right;
    }
  }
}