.lists-container {
  width: 30%;
  .list-item {
    height: 50px;
    padding: 15px;
    border-bottom: 1px solid @grey;
    &.active {
      background-color: @grey;
      .list-text {
        color: @white;
      }
    }
    .list-text {
      font-size: 22px;
    }
  }
}