.app-navbar {
  text-align: center;
  background-color: @primarylighthover;
  height: 50px;

    & a {
    color: @white;
    text-decoration: none;
  }

  .app-header {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 2.4em;

    @media(min-width: @sm) {
      font-size: 24px;
    }
  }
  .nav-left {
    float: left;
    margin-bottom: 0;

    li {
      display: inline-block;
    }
  }

  .nav-right {
    float: right;
    display: inline-block;


    li {
      vertical-align: top;
      display: inline-block;
    }

    .nav-avatar {
      margin-right: 0px;
      border-radius: 50%;
    }



    a {
      color: @white;

      .fa {
        .transition(0.3s);
        margin-left: 15px;
        font-size: 2em;
        height: 50px;
        width: 50px;
        line-height: 50px;

        &:hover {
          color: @primarydark;
        }
      }
    }
  }

}
.nav-right li p.nav-text a.nav-av {
  font-size: 0;
  color: transparent;
  line-height: 0;

  @media (min-height: @sm) {
    font-size: 12px;
    color: @darkgrey;
    line-height: 1.4em;
  }
}

@media (min-width: @sm) {
  .app-navbar {
    height: 50px;

    .app-header {
      text-align: center;
      font-size: 28px;
      margin-top: 5px;
      margin-bottom: 0;
      line-height: 1.4em;
    }
    .nav-left {
      float: left;
      margin-bottom: 0;
    }
    .nav-right {

      .nav-avatar {
        margin-right: 10px;
      }
    }
    .nav-right,
    .nav-left {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}