.nav-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  background-color: @grey;
  text-align: center;
  height: 65px;
  width: 100%%;
    & a {
    color: @white;
    text-decoration: none;
  }
  .app-header {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 2.4em;
  }
  .nav-left {
    float: left;
    margin-bottom: 0;
  }
  .nav-right {
    float: right;
    li { display: inline-block; }
    .nav-avatar {
      margin-right: 0px;
      border-radius: 50%;
    }
    .nav-text {
      font-size: 12px;
      margin-top: 10px;
      padding-left: 15px;
      & a {
        color: @darkgrey;
      }
    }
    .fa {
      display: none;
    }
  }
}
.nav-right li p.nav-text a.nav-av {
  font-size: 0;
  color: transparent;
  line-height: 0;
  @media (min-height: @screen-sm) {
    font-size: 12px;
    color: @darkgrey;
    line-height: 1.4em;
  }
}


@media (min-width: @screen-sm) { 
  .nav-wrapper {
    height: 50px;
    .app-header {
      text-align: center;
      font-size: 28px;
      margin-top: 5px;
      margin-bottom: 0;
      line-height: 1.4em;
    }
    .nav-left {
      float: left;
      margin-bottom: 0;
    }
    .nav-right {
      .nav-avatar {
        margin-right: 10px;
      }
      .fa {
        display: block;
      }
    }
  }
  .popover.fade.bottom.in {
    display: none !important;
  }
}

  .popover.fade.bottom.in,
  .popover.fade.bottom {
    height: 60px;
    width: 100px;
    border-radius: 20px;
    font-size: 22px;
    text-transform: uppercase;
    .popover-content {
      text-align: left;
      padding: 10px 5px;
      a {
        cursor: pointer;
        color: @whitesmoke;
        padding-bottom: 30px;
      }
    }
  }
  .popover.fade.bottom.in,
  .popover.fade.bottom {
    top: 62px !important;
    left: 240px !important;
  }
  .popover.bottom>.arrow {
    top: -8px;
    border-top-color: none;
    border-top-color: @primarylight;
    border-bottom-color: @primarylight;
    margin-left: 18px;
    bottom: -9px;
  }
  .popover.bottom>.arrow:before {
    border-top-color: none;
  }
  .popover.bottom>.arrow:after {
    border-top-color: @primarylight;
    bottom: 1px;
    margin-left: -9px;
    content: " ";
    border-top-color: @primarylight;
    border-bottom-width: 0;
    border-bottom-color: @primarylight;
  }

  .popover {
    border: 0;
    border-radius: 0;
    -webskit-box-shadow: 0;
    box-shadow: 0 0 0 0;
    background-color: @primarylight;
  }
