.nav-wrapper {
  background-color: @grey;
  width: 100%%;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
  text-align: center;
  & a {
    color: @white;
    text-decoration: none;
  }
  .app-header {
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 0;
  }
  
  .nav-left {
    float: left;
    margin-bottom: 0;
  }
  .nav-right {
    float: right;
    li { display: inline-block; }
    .nav-avatar {
      margin-right: 10px;
      border-radius: 50%;
    }
    .nav-text {
      font-size: 12px;
      margin-top: 10px;
      padding-left: 15px;
      & a {
        color: @darkgrey;
      }
    }
  }
}
