.note-item {
  background-color: @white;
  color: @primarydark;
  text-align: left;
  padding: 0;
  padding-top: 5px;
  position: relative;
  border-bottom: 1px solid @grey;
 .transition(all 0.6s ease);

  .timestamp {
    margin-left: 10px;
    display: block;
    color: @darkgrey;
    text-align: left;
  }

  .body {
    width: 60%;
    margin-left: 10px;
    display: inline-block;
    resize: vertical;
    overflow: auto;
    .transition(all 0.3s ease);

    @media (min-width: @sm) {
      width: 50%;
    }

    .note-text {
      width: 100%;
      font-size: 14px;
      outline: none;
      border: none;
      color: @black;
      opacity: 0.8;

      &:focus {
        font-size: 14px;
        color: @primarylight;
      }
    }

    &.true .note-text {
      color: @grey;
    }
  }

  .edit {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .fa {
    color: @primarylighthover;
    opacity: 0.7;
    cursor: pointer;
    margin-left: 5px;
    font-size: 2em;
    .transition(all 0.3s ease);

    @media (min-width: @sm) {
      color: @grey;
      margin-left: 5px;
      font-size: 1.5em;

      &:hover {
        color: @primarylighthover;
      }
    }
  }
}