<div class="container-fluid">
  <div class="login-wrapper">

    <div class="login-container">
      <div class="header-container">
        <p class="header-text">Ramen Buffet</p>
      </div>
      <div class="btn-container">
        <a href="/auth/facebook">
          <div class="facebook-container">
            <p class="lead">Login with facebook</p>
            <i class="fa fa-facebook"></i>
          </div>
        </a>
        <a href="/auth/twitter">
          <div class="twitter-container">
            <p class="lead">Login with twitter</p>
            <i class="fa fa-twitter"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>