<div class="container-fluid">

  <div class="login-wrapper">
    <div class="login-container">

      <div class="header-container">
        <p class="landing-header"><a>Ramen Buffet</a></p>
      </div>


        <a href="/auth/facebook">
          <div class="login-facebook">
            <i class="fa fa-facebook"></i>
          </div>
        </a>

      <div class="login-header">
        <p class="lead light">Login with facebook</p>
      </div>
    </div>
  </div>

</div>