<div class="container-fluid landing-wrapper">
  <div class="row">
    <div class="header-container">
      <p class="landing-header"><a href="#">Ramen Buffet</a></p>
    </div>
    <div class="login-container">
      <p class="lead">{{message}}</p>
      <div class="login-facebook">
        <a href="/auth/facebook"><i class="fa fa-facebook"></i></a>
      </div>
      <div class="login-twitter">
        <a href="/auth/facebook"><i class="fa fa-twitter"></i></a>
      </div>
      <hr>
    </div>
  </div>
</div>