<div class="active-list-container">
  <div class="section-header">
    <h3 class="header-text">Grocery<i class="fa fa-plus"></i></h3>
  </div>
  <div class="list-item">
    <p class="list-text">Banana</p>
  </div>
  <div class="list-item">
    <p class="list-text">Cinder Block</p>
  </div>
  <div class="list-item">
    <p class="list-text">Cambodian Dank Sauce</p>
  </div>
</div>