<div class="active-list-container">
  <div class="section-header">
    <h3 class="header-text"><span class="edit"> <i class="fa fa-pencil"></i></span><i class="fa fa-plus"></i></h3>
  </div>
  <div class="list-items-container">
    
  </div>
</div>