<div class="lists-container">
  <div class="section-header">
    <h3 class="header-text">Lists<i class="fa fa-plus"></i></h3>
  </div>
  <div class="list-section-item active">
    <p class="list-title">Grocery</p>
  </div>
  <div class="list-section-item">
    <p class="list-title">Purchases</p>
  </div>
  <div class="list-section-item">
    <p class="list-title">Personal</p>
  </div>
</div>