<div class="active-list-container">
  <div class="section-header">
    <h3 class="header-text"><span class="edit"> <i class="fa fa-pencil"></i></span></h3>
  </div>
  <div class="active-list-input-container">
  	<form action="/notes" method="post">
  		<input type="text" class="new-item-input" name="body" placeholder="Note">
  		<input type="text" class="new-category-input" name="category" placeholder="Category">
  		<button type="submit" class="new-note-btn"><i class="fa fa-plus"></i></button>
  	</form>
  </div>
  <div class="list-items-container">
    
  </div>
</div>