<div class="active-list-container">
  <div class="section-header">
    <h3 class="header-text"><span class="edit"> <i class="fa fa-pencil"></i></span></h3>
  </div>
  <div class="active-list-input-container">

  	<form>
  		<input type="text" class="new-note-input" name="body" placeholder="Note">
  		<input type="text" class="new-category-input" name="category" placeholder="Category">
  		<button class="new-note-btn"><i class="fa fa-plus"></i></button>
  	</form>

  </div>
  <div class="kurt-loader"></div>
  <div class="active-notes">
    {{#each user.notes}}
    <div class="list-item">
      <p class="list-text"><span class="edit">{{ this.body }}</span><i class="fa fa-check"></i></p>
    </div>
    {{/each}}
  </div>
</div>