<div class="lists-container">
  <div class="section-header">
    <h3 class="header-text">Lists<i class="fa fa-plus"></i></h3>
  </div>
  <div class="list-item active">
    <p class="list-text">Grocery</p>
  </div>
  <div class="list-item">
    <p class="list-text">Purchases</p>
  </div>
  <div class="list-item">
    <p class="list-text">Personal</p>
  </div>
</div>