<div class="lists-container">
  <div class="section-header">
    <h3 class="header-text">Lists
    <a class="create-list-btn"><i class="fa fa-plus"></i></a></h3>
  </div>
  
  <div class="list-names-container">

  </div>
</div>