<div class="sidebar-right">
  <div class="section-header">
    <h3 class="header-text">Something</h3>
  </div>
  <div class="list-item">
    <p class="list-text">Cinder Block</p>
  </div>
  <div class="list-item">
    <p class="list-text">Cinder Block</p>
  </div>
  <div class="list-item">
    <p class="list-text">Cinder Block</p>
  </div>
</div>