<div class="active-desktop">
  <div class="active-list-wrapper">
    <div class="active-list-container">

      <!-- Inputs -->

    </div>
  </div>

  <div class="active-notes-wrapper">
    <div class="active-notes-container">



    </div>
  </div>
</div>