<div class="container dmc">
  <div class="inner-container">
    <div class="lists">
      <div class="header-container">
        <span class="create-list-btn">
          <i class="fa fa-plus-square"></i>
        </span>
        <span class="toggle-list-btn">
          <i class="fa fa-caret-square-o-up"></i>
        </span>
      </div>
      <div class="lists-container">
        <!-- Lists -->
      </div>
    </div>
    <div class="notes">
      <div class="active-list-container">
        <!-- Inputs -->
      </div>
      <div class="notes-container">
        <!-- Notes -->
      </div>
    </div>
  </div>
</div>