<div class="lists-wrapper">
  <div class="header-container">
    <span class="toggle-list-btn open-list hidden"><i class="fa fa-tasks"></i></span>
    <span class="toggle-list-btn close-list"><i class="fa fa-caret-square-o-up"></i></span>
  </div>

  <div class="lists-container">

  </div>
</div>