<div class="lists-wrapper">
  <div class="header-container">
    <h3 class="header-text">Lists
    <a class="toggle-list-btn"><i class="fa fa-tasks"></i></a></h3>
  </div>

  <div class="lists-container">

  </div>
</div>