<div class="lists-wrapper">
  <div class="header-container">
    <div class="kurt-loader animated"></div>
    <span class="create-list-btn"><i class="fa fa-plus-circle"></i></span>
    <span class="toggle-list-btn"><i class="fa fa-caret-square-o-up"></i></span>
  </div>

  <div class="lists-container">

  </div>
</div>